<!--<button [routerLink]="['/pokemons']" mat-button>Back to POKEMONS</button>-->
<mat-card class="pokemon-card" *ngIf="(pokemon$|async) as pok">
  <mat-grid-list cols="2" rowHeight="300px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div style="text-align: center">
        <img mat-card-xl-image src="assets/img/official-artwork/{{pok.id}}.png"
             alt="{{pok.name}}">
        <div> No. {{pok.id | number:'3.0'}}</div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card-header>
        <mat-list role="list">
          <mat-list-item role="listitem">
            <mat-card-title>{{pok.name}}
              <mat-icon style="cursor: pointer; vertical-align: center" (click)="audioOption.play()" color="secondary" mat-list-icon>play_circle
              </mat-icon>
            </mat-card-title>
            <audio #audioOption autoplay>
              <source src="assets/audio/{{pok.id}}.mp3" type="audio/mp3">
            </audio>
          </mat-list-item>
          <mat-list-item role="listitem">
            <mat-chip-list>
              <mat-chip *ngFor="let type of pok.types" selected [color]=" type | color"> {{type}} </mat-chip>
            </mat-chip-list>
          </mat-list-item>
          <mat-list-item role="listitem">
            Taille : {{pok.height | number:'1.1-1'}} m
          </mat-list-item>
          <mat-list-item role="listitem">
            Poids : {{pok.weight | number:'1.1-1'}} kg
          </mat-list-item>
        </mat-list>
      </mat-card-header>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <mat-card-content>
        {{pok.description}}
      </mat-card-content>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
